* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12;
}

.parent {
  margin-top: 8px;
  margin-bottom: -2px;
/*  line-height: 95%; */
  vertical-align: bottom;
}

.parent span {
  display: inline-block;
}

p {
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: -2px;
/*  line-height: 95%; */
}

p.c {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: -2px;
/*  line-height: 95%; */
}

.large {
  font-size: 20px;
  font-weight: bold;
}

.normal {
  font-size: 12;
  font-weight: normal;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: -10px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -12px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #d0d0d0;
  padding: 7px 15px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #404040;
  border-radius: 6px;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color:#a0c0f0;
  border-color: #406080;
}

.radio-toolbar input[type="radio"]:disabled + label {
  background-color:#f0f0f0;
  border-color: #d0d0d0;
  color: #a0a0a0;
}

.radio-toolbar input[type="radio"]:focus + label {
  border: 2px solid #406080;
}

.radio-toolbar label:hover {
  background-color: #d0e0f0;
}

.button {
  display: inline-block;
  background-color: #f0f0f0;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #a0c0f0;
  border-radius: 4px;
}
  
.top05 { margin-top:5px; }
.top07 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
